
:root {
  --background-color: white;
  
  color-scheme: normal;
}

a {
  text-decoration: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: var(--background-color);
}

.page-content {
  min-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* General */

button {
  border-radius: 4px;
  border: 1px solid #6c6c6c;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color, background-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

h2 {
  margin-bottom: 1em;
}

/* Header */

header {
  margin-bottom: 3rem;
}

.header-logo {
  height: 4em;
  display: inline-block;
  vertical-align: middle;
}

.header-text {
  font-size: 2em;
  font-weight: 600;
  color: #1a1a1a;
  
  vertical-align: middle;
  margin-left: 0.6em;
}

/* Main content */

#app {
  display: flex;
  flex-direction: column;
}

.app-section {
  margin-bottom: 2em;
}

/* Extrusion designer */

.extrusion-designer {
  flex-grow: 0;
  
  display: flex;
  flex-direction: row;
  
  .extrusion-designer-left {
    flex-grow: 0;
    
    margin-right: 2em;
    padding-top: 2.4em;
  }
  
  .extrusion-designer-right {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
  }
  
  .designer-top {
    margin-bottom: 0.5em;
  }
  
  .designer-width {
    text-align: center;
    
    padding: 0 1em;
    
    --middle-width: 7.8em;
    --side-spacing: 0.5em;
    --side-width: calc(50% - var(--middle-width)/2 - var(--side-spacing));
    
    .designer-width-middle {
      width: var(--middle-width);
    }
    
    &::before,
    &::after {
      /*background-color: #000;*/
      border-top: 1px solid black;
      content: "";
      display: inline-block;
      height: 0.3em;
      position: relative;
      vertical-align: middle;
      width: var(--side-width);
    }
    
    &::before {
      right: var(--side-spacing);
      margin-left: calc(-1 * var(--side-width));
      border-left: 1px solid black;
    }
    &::after {
      left: var(--side-spacing);
      margin-right: calc(-1 * var(--side-width));
      border-right: 1px solid black;
    }
  }
  
  .designer-width-input {
    max-width: 5em;
  }
  
  .designer-side {
    display: flex;
    flex-direction: row;
  }
  
  .designer-side-1 {
    margin-bottom: 2em;
  }
  
  .designer-extrusion {
    --extrusion-height: 4em;
    
    flex-grow: 1;
    height: var(--extrusion-height);
    line-height: calc(var(--extrusion-height) - 0.5em);
    position: relative;
    
    border: 2px solid #5e5e5e;
    
    &.extrusion-type-dllpdf2020 {
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #878787;
      }
        
      &::before {
        top: 1em;
      }
      
      &::after {
        bottom: 1em;
      }
    }
    
    .designer-type-label {
      display: block;
      position: absolute;
      
    font-size: 2em;
      color: #dcdcdc;
    }
  }
  
  .designer-controls {
    margin-top: 2em;
    
    .controls-right {
      float: right;
    }
  }
  
  .designer-type-display {
    width: 10em;
    height: 10em;
  }
  
  .extrusion-cross-section svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    
    path {
      stroke: black;
      stroke-width: 7px;
      
      fill: none;
    }
  }
  
  .extrusion-type-inputs {
    margin-top: 1em;
    
    input, select {
      width: 100%;
    }
  }
}

.designer-holes-editor {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  cursor: copy;
  overflow: hidden;
  
  .designer-hole {
    width: 0.6em;
    height: 100%;
    position: absolute;
    top: 0;
    
    border-left: 2px dotted darkblue;
    
    cursor: col-resize;
    
    &::after {
      content: "";
      display: block;
      position: relative;
      
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: -11px;
      
      border: 1px solid black;
      border-radius: 50%;
      background-color: var(--background-color);
    }
  }
}

/* Frame cart */

.frame-cart {
  --header-background: #2b2b2b;
  --header-text-color: #c6c6c6;
  
  --alternate-background: #f4f4f4;
  
  .row {
    display: flex;
    
    height: 2em;
    line-height: 2em;
    
    &:nth-of-type(even) {
      background-color: var(--alternate-background);
    }
  }
  
  .col {
    padding: 0 0.8em;
    
    &.col-0 {
      flex-grow: 0;
      width: 5em;
      padding: 0;
    }
    &.col-1 {
      flex-grow: 1;
    }
    &.col-2 {
      flex-grow: 0;
      width: 16em;
    }
    &.col-3 {
      flex-grow: 0;
      width: 10em;
    }
    &.col-4 {
      flex-grow: 0;
      width: 8em;
    }
    &.col-5 {
      flex-grow: 0;
      width: 5em;
    }
    &.col-6 {
      flex-grow: 0;
      width: 8em;
    }
  }
  
  .frame-cart-header {
    background: var(--header-background);
    color: var(--header-text-color);
    border-radius: 4px;
  }
  
  .frame-cart-list {
    .row {
      border-radius: 4px;
    }
    
    .col:not(:last-child) {
      border-right: 3px solid var(--background-color);
    }
    
    .col-4, .col-6 {
      text-decoration: underline dotted #9197f6;
    }
    
    .col-4, .col-6 {
      &::before {
        content: "$";
        float: left;
      }
    }
    
    input {
      width: 100%;
      line-height: 1.4em;
      margin-top: 0.1em;
    }
    button {
      padding: 0 0.4em;
      line-height: 1.4em;
    }
  }
  
  .frame-cart-footer {
    margin: 0.4em 2em;
    text-align: right;
    
    .frame-cart-total {
      font-size: 1.1em;
    }
    
    .total-label {
      font-weight: bold;
      margin-right: 2em;
    }
  }
}
