<div class="designer-side <% if(slotIndex === 0) { %>extrusion-slot-first <% } if(slotIndex === maxSlots-1) { %>extrusion-slot-last <% } %>" data-side="<%= sideIndex %>" data-slot="<%= slotIndex %>">
  <span class="extrusion-side">
    <span class="designer-type-label"></span>
    <span class="designer-holes-editor">
    </span>
  </span>
</div>
