<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/dllpdf1515.svg" />
    <title>DLLPDF Custom Frame Calculator</title>
  </head>
  <body>
    <div class="page-content">
      <header>
        <a href="https://dllpdf.com/">
          <img src="./dllpdf-logo.jpg" alt="DLLPDF logo" class="header-logo">
        </a>
        <span class="header-text">Custom Frame Calculator</span>
      </header>
      
      <div id="app">
        
        <%# Extrusion designer %>
        <div class="app-section extrusion-designer" id="extrusion_designer">
          <%# Left side %>
          <div class="extrusion-designer-left">
            <div class="extrusion-cross-section designer-type-display">
              <%# Filled dynamically %>
            </div>
            <div class="extrusion-type-inputs">
              <select class="extrusion-type-select">
                <option value="DLLPDF-1515">DLLPDF 1515</option>
                <option value="DLLPDF-2020">DLLPDF 2020</option>
                <option value="DLLPDF-153030">DLLPDF 151530</option>
                <option value="DLLPDF-2040">DLLPDF 2040</option>
              </select>
            </div>
          </div>
          
          <%# Right side %>
          <div class="extrusion-designer-right">
            <%# Width entry %>
            <div class="designer-top">
              <span class="designer-width">
                <label class="designer-width-middle">
                  <input type="number" placeholder="Width" min="0" step="10" class="designer-width-input"/>
                  mm
                </label>
              </span>
            </div>
            
            <%# Hole creation %>
            <% for (let sideClass of ["designer-side-1", "designer-side-2"]) { %>
            <div class="designer-side <%= sideClass %>">
              <span class="designer-extrusion extrusion-type-dllpdf2020" id="designer_holes_editor">
                <span class="designer-type-label"></span>
                <span class="designer-holes-editor">
                </span>
              </span>
            </div>
            <% } %>
            
            <%# Controls %>
            <div class="designer-controls">
              <div class="control-group">
                <button class="add-frame-button" id="add-frame">Add new</button>
                <button class="edit-frame-button" id="edit-frame" disabled>Save edit</button>
                <span class="controls-right"><button class="reset-frame-button">Reset</button></span>
              </div>
            </div>
          </div>
        </div>
        
        <div id="cart" class="app-section">
          <h2>Frame Cart</h2>
          <div class="frame-cart">
            <div class="frame-cart-header row">
              <span class="col col-0"></span>
              <span class="col col-1">Custom Label</span>
              <span class="col col-2">Extrusion Type</span>
              <span class="col col-3">Length</span>
              <span class="col col-4">Per Unit Cost</span>
              <span class="col col-5">Quantity</span>
              <span class="col col-6">Total Cost</span>
            </div>
            <div class="frame-cart-list" id="frame-cart">
              <%# Filled dynamically %>
            </div>
            <div class="frame-cart-footer">
              <div class="frame-cart-">
                <span class="frame-cart-total">
                  <span class="total-label">Frame Total</span>
                  <span class="total" id="frame-cart-total">$123.45</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
